@{
    ViewData["Title"] = "Edgy Self";
}

<head>
    <link rel="stylesheet" href="~/css/index_style.css" />
</head>

<section class="index_page">
    <div class="index_page_container">

        <div class="title">
            <h1>EdgySelf</h1>
        </div>

        <form>
            <div class="form_title">
                <h2>Access your profile</h2>
            </div>

            <div class="form_box">
                <label>Welcome again: </label>
                <input placeholder="Your Name"/>
            </div>

            <div class="form_box">
                <label>If you want to access give me: </label>
                <input type="password" placeholder="Your Password"/>
            </div>

            <div class="button_container">
                <button type="submit">Login</button>
            </div>
        </form>


        <div class="bottom_panel">
            <h2>No account?</h2>
            <a>Register</a>
        </div>

    </div>
</section>